<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <title>Document</title>
</head>

<body ng-app="mModule">
    <header class="banner">This is title</header>
    <div class="content">
        <div class="left-panel">
            <div class="source m10">1</div>
            <div class="source m10">2</div>
            <div class="source m10">3</div>
            <div class="source m10">4</div>
            <div class="source m10">5</div>
            <div class="source m10">6</div>
            <div class="source m10">7</div>
            <div class="source m10">8</div>
        </div>
        <div class="right-panel">
            <div class="canvas-container" ng-controller="mCtrl">
                <!-- this is the svg view, the true svg canvas is infinite -->
                <svg id="canvas" width="100%" height="100%" ng-init="initCanvas()">
                    <defs>
                        <marker id="arrow" markerWidth="10" markerHeight="10" refX="8" refY="4" orient="auto" markerUnits="strokeWidth">
                            <path d="M0,0 L0,8 L10,4 Z" fill="#3A9"></path>
                        </marker>
                        <marker id="arrow1" markerWidth="12" markerHeight="8" refX="10" refY="4" orient="auto" markerUnits="strokeWidth">
                            <polygon points="0,0 4,4 0,8 12,4 0,0" fill="#3A9" stroke="none"></polygon>
                        </marker>
                        <marker id="arrow2" markerWidth="12" markerHeight="8" refX="10" refY="4" orient="auto" markerUnits="userSpaceOnUse">
                            <polygon points="0,0 4,4 0,8 12,4 0,0" fill="none" stroke="none"></polygon>
                        </marker>
                        <marker id="point" markerWidth="10" markerHeight="10" refX="0" refY="0" orient="auto" markerUnits="strokeWidth">
                            <circle cx="0" cy="0" r="5" stroke="#3D9" fill="#3A9"></circle>
                        </marker>
                        <circle id="source" cursor="pointer" cx="0" cy="0" r="30" fill="#5D8"></circle>
                        <polygon id="activity" cursor="pointer" points="-30,0 -15,25.98 15,25.98 30,0 15,-25.98 -15,-25.98" fill="#58D"></polygon>
                        <g id="anchor" class="anchor" x="0" y="0" cursor="crosshair">
                            <circle cx="0" cy="0" r="10" fill="none" stroke="none"></circle>
                            <path d="M0,-6 A3,3 0 0,1 0,0 A3,3 0 0,0 0,6" fill="none" stroke="none"></path>
                        </g>
                    </defs>

                    <use x="123" y="111" xlink:href="#source" width="60" ng-dblclick="dblclick"></use>
                    <use x="123" y="141" xlink:href="#anchor"></use>
                    <g ng-repeat="line in lines" class="line" ng-mousedown="lineMouseDown($event,line)">
                        <path class="true-line" ng-attr-d="{{line.d}}" marker-end="url(#arrow1)" stroke="#666" stroke-width="2px"></path>
                        <path class="padding-line" ng-attr-d="{{line.d}}" fill="none" marker-end="url(#arrow2)"></path>
                    </g>
                    <g ng-repeat="process in processArr" id="{{process.name}}">
                        <circle ng-attr-cx="{{process.position.x}}" ng-attr-cy="{{process.position.y}}" r="25" fill="#3A9" stroke="none"></circle>
                        <image ng-attr-x="{{process.position.x-30}}" ng-attr-y="{{process.position.y-30}}" width="60" xlink:href="" ng-href="{{process.type}}.svg"
                            ng-mousedown="processMouseDown($event,process)" cursor="pointer" ng-mouseenter="processMouseEnter($event,process)"
                            ng-mouseleave="processMouseLeave($event, process)" ng-click="processClick($event,process)"/>
                        <use ng-attr-x="{{process.position.x}}" ng-attr-y="{{process.position.y+30}}" xlink:href="#anchor" ng-click="anchorClick($event, process)"></use>

                    </g>
                    <!-- <path id="drawLine" ng-attr-d="{{drawingLine.d}}" stroke="green" marker-end="url(#arrow1)"></path> -->
                    <path id="drawLine" d="" stroke-dasharray="4, 4" stroke="rgba(0,0,0,.4)" fill="rgb(0,0,0)" stroke-width="2px" marker-end="url(#arrow1)"></path>

                </svg>
            </div>
            <div class="config-panel"></div>
        </div>
    </div>
    <footer class="banner">This is footer</footer>
    <script src="jDragSvg.js"></script>
    <!-- <script src="script.js"></script> -->
</body>

</html>